/* MIN WIDTH */

@media only screen and (min-width: 1150px){
    .btn-menu, .btn-close, .btn-menu-close {
        display: none !important;
    }
    .navigation {
        display: block !important;
    }
}

/* MAX WIDTH */

@media only screen and (max-width: 1150px){
    .navbar {
        display: flex !important;
        padding-left: 0;
    }
    .navbar > a {
        margin-left: auto;
        margin-right: 20px;
    }
    .logo {
        padding-left: 15px;
        z-index: 100;
    }
    .navigation {
        display: none;
        li {
            text-align: left;
            display: flex;
        }
        li a {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 30px;
            width: 300px;
        }
        li a img {
            display: block; 
            height: 40px;
            transition: filter 0.5s ease;
          }
          li a:hover img {
            filter: invert(35%) sepia(100%) saturate(500%) hue-rotate(-10deg);
          }
    }
    .navigation.open {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        margin-top: 50px;
        width: 95%; 
        height: 100svh;
        background-color: black; 
    }
    .btn-menu-close, .navbar a {
        z-index: 100;
    }
}


/* Responzivita tábor */
@media (max-width: 768px) {
    .one-camp-without-head {
        flex-direction: column;
        text-align: center;
    }
    .camp-photo {
        width: 100%;
        max-width: 300px;
    }
  }
