body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif, 'Lucida Sans';
    background-color: #e4e4e4;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}

/***** RESUABLE ******/
    .container {
        max-width: 900px;
        margin: 2% auto;
        margin-bottom: 0;
        padding-left: 2%;
        padding-right: 2%;
    }

    .clarfix:after {
        content:"";
        clear: both;
        display: table;
    }



/***** NAVIGATION *******/
    
    .backgr {
        width: 100%;
        background-color: #00000089;
        border-bottom: 1px solid rgb(248, 186, 31); 
        position: fixed;
        z-index: 900;
        transition: all 0.3s ease-in-out;
    } 

    .navbar {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: space-between;
        z-index: 1000;
        text-transform: uppercase;
    }

    .navbar.container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .scroll-down header {
        transform: translate3D(0, -100%, 0);
    }

    .scroll-up .backgr, .scroll-up .activ-menu {
       background-color: rgba(0, 0, 0, 0.5);
       backdrop-filter: blur(10px);
       filter: drop-shadow(0 -10px 20px rgba(2, 2, 2, 0.95))
    }

    .logo img {
        width: 80px;
        overflow: visible;
        margin-top: -15px;
        position: absolute;
    }

    .navbar ul li {
        list-style-type: none; 
        padding: 22px 0;
        cursor: pointer;
        position: relative;
        display: inline-block;
    }



    .navbar ul li a {
        text-decoration: none;
        font-weight: 550;
        padding: 20px;
        color: white;
        font-size: 13px;  
        transition: all 0.5s ease;

    }

    .navbar ul li a:hover {
        color: rgb(248, 186, 31);
    }

    .dropdown {
        display: flex;
        flex-direction: column;
        top: 54px;
        padding-left: 0;
        position: absolute;
        background-color: #00000089;
        visibility: hidden;
        opacity: 0;
        width: 210px;
        text-transform: none;
    }

    .dropdown li {
       line-height: 0; 
    }

    .navbar ul li:hover > ul {
        visibility: visible;
        opacity: 1;
    }

    .btn-rezervation-system {
        background-color: rgb(248, 186, 31);
        color: black;
        padding:6px 16px;
        text-decoration: none;
        border-radius: 30px;
        font-size: 10px;
        font-weight: 800;
        cursor: pointer;
        transition: scale 0.2 ease;
    }
    
    .btn-rezervation-system:hover {
        scale: 1.05;
    }
    
    .btn-rezervation-system:active {
        scale: 0.95;
    }

    .btn-menu {
        width: 30px;
        height: 30px;
        cursor: pointer;
        display: none;
    }

    .btn-menu img {
        width: 100%;
    }

    h1 {
        font-size: 23px;
        width: auto;
        padding-top: 40px;
        text-align: center;
    }

    h1:after {
        content:"";
        display:block;
        width:300px;
        border-bottom: 3px solid rgb(248, 186, 31);
        margin: 7px auto;
        box-shadow: 10px 4px 5px 1px rgba(0, 0, 0, 0.703);
    }



    h3 {
        padding-top: 40px;
        font-size: 23px;
        text-align: center;
    }


    h3:after {
        content:"";
        display:block;
        width:300px;
        border-bottom: 3px solid rgb(248, 186, 31);
        margin: 7px auto;
        box-shadow: 10px 4px 5px 1px rgba(0, 0, 0, 0.703);
    }

    #turnaje h3:after, #soustredeni h3:after, #obchod h3:after  {
        border-bottom: none;
        box-shadow: none;
    }

    h4 {
        font-size: 18px;
    }

    p {
        font-size: 14px;
        text-align: justify;
        /* line-height: 25px;  */
    }
  
    







/****** MAIN ******/

/* Sekce 1 - foto kurtů */
    .section1 {
        background-color: #171717;
        background:linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/photos-courts/kurty-orez.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        background-attachment:fixed;
        width: 100%;
        height: 600px;
        overflow: hidden;
        z-index: 0.5;
        background-position: center top -40px;
    }

/* areál */

#nas-areal p {
    line-height: 25px;
}


/* Rezervace */
#rezervace p {
    line-height: 25px;  
}

.rezervace {
    display: grid;
    grid-template-columns: 58% 37%;
    gap: 5%;
    
}




/* CENÍK */

/* .cenik-backgr {
    background:linear-gradient(rgba(255, 255, 255, 0.7),rgba(255, 255, 255, 0.7)),url(img/bg1.jpg);
    padding-bottom: 20px;
} */

.prices {
    color:  black;
    text-align: center;
    width: 600px;
    margin: 0 auto;
    margin-bottom: 70px;
    box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.703);
    border: 1px solid black;
    }

.prices-info {
    font-size: 14px;
    padding: 10px;
    background-color: #aeadad;
    font-weight: 300;
    border-top: 1px solid black;
}

tr, td {
    font-size: 16px;
    background-color:#aeadad;
    padding: 5px;
}

th {
    font-size: 16px;
    padding: 10px;
    background-color: #aeadad;
    border-bottom: 1px solid black;
}

td {
    background-color: rgba(255, 255, 255, 0.864);
}


/* Tenisová škola */

#tenisova-skola p {
    line-height: 25px;
}


#tenisova-skola .contact-form{
    margin-bottom: 30px;
    margin-top: 20px;
}

/* družstva */

.druzstva {
    display: flex;
    gap: 10% 3%;
    justify-content: center;
    margin-bottom: 20px;
    flex-flow: wrap;
}

.druzstvo {
    display: flex;
    flex-direction: column;
    
}

.druzstvo > a {
    color: black;
    background-color: rgba(248, 187, 31, 0.763);
    border-bottom: 1px solid black;
    border-right: 1px solid black;
    border-top: 1px solid rgb(121, 121, 121);
    border-left: 1px solid rgb(121, 121, 121);
    letter-spacing: 1px;
    width: 100px;
    text-align: center;
    margin: 5px;
    padding: 6px 16px;
    text-decoration: none;
    border-radius: 30px;
    font-size: 13px;
    cursor: pointer;
}






/* Úspěchy TS */

    .uspechy-background{
        background:linear-gradient(rgba(255, 255, 255, 0.859),rgba(255, 255, 255, 0.85)),url(img/cup4.jpg);
     
        padding-bottom: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        background-position: center center;
    }

    .tenisove-uspechy{
        display: flex;
        gap: 30px;
        margin-bottom: 30px;
    }

    .uspech {
        width: 450px;
        height: 210px;
        display: flex;
        background-color: rgb(59, 59, 59);
        color: white;
        box-shadow: 5px 5px 20px rgb(59, 59, 59);
    }

    .uspech-foto img {
        height: 100%;
        cursor:zoom-in;
        width: 200px;
       
    }    

    .uspech-foto {
        transition: scale 0.3s ease-in-out;
    }

    .zoom {
        scale: 3;
        z-index: 500;
    }   

    .zoom img {
        cursor:zoom-out;
    }

    .uspech-text {
        padding: 20px;
        padding-top: 0;
    }

    .uspech-text .rok {
        font-size: 14px;
        letter-spacing: 7px;
        margin-bottom: 12px;
    }

    .uspech-text .jmeno {
        font-size: 16px;
        font-weight: 600;
        border-bottom: 1px solid rgb(248, 186, 31);
        margin: 7px 0px;
    }

    .uspech-text li {
        padding-bottom: 7px;
        font-size: 12px;
        font-weight: 100;
    }









/* trenérský tým */

    .backgr-trainers h3 {
        color: white;    
    }

    .trainers {
        display: flex;
        justify-content: center;
        padding:50px 0;
    }

    .trainer {
        height: 310px;
        width: 200px;
        margin: 2%;
        box-shadow: 5px 5px 20px rgb(185, 185, 185);
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: 10px;
    }

    .trainer img {
        height: 100%;
        width: 100%;
        scale: 1.1;
        object-fit: cover;
        
    }

    .trainer-info {
        width: 100%;
        height: 100%;
        top: 0;
        right: -100%;
        position: absolute;
        background: #ffffff8f;
        backdrop-filter: blur(5px);
        transition: all 1s ease;
    }

    .trainer-info p {
        margin: 15px 0;
    }

    .trainer:hover .trainer-info {
        right: 0;
        visibility: visible;
    }

    .trainer-info p {
        font-size: 25px;
        text-transform: uppercase;
        text-align: center;
        font-weight: 600;
        padding-bottom: 5px 0;
    }

    .trainer-info li {
        font-size: 13px;
        padding: 6px 18px;
        list-style-type: none;
    }

    .backgr-trainers {
        background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(img/court-ballon.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment:fixed;
        width: 100%;
        margin: 0; 
    }

    .backgr-trainers h2 {
        color: white;
    }




/* Tenisový tábor */

    #tabor {
        margin-top: 100px;
        background-color: white;
        box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.703);
        margin-bottom: 90px;
    }

    .tabor1 {
        padding-left: 40px;
        padding-right: 30px;
        padding-bottom: 0;
    }

    .tabor1a2 {
        display: grid;
        grid-template-columns: 62% 28%;
        gap: 5%;
        margin-bottom: 20px;

    }

    .tabor2-inner {
        border: 1px solid grey;
        box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.703);
        border-radius:15px;
        margin-top: 45px;
        padding: 10px;
    }

    .tabor2-inner p {
        margin: 8px 0;
    }

    .tabor2-inner .contact-form a {
        font-size: 13px;
    }

    .tabor2 h4 {
        margin: 0;
    }

    .tabor3 {
        overflow: hidden;
    }

    .slider-tabor {
        width: 100%;
        height: 400px;
        animation: slide 30s infinite;
        background: url(img/photos-TS/tabor01_small.jpg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        overflow: hidden;
        background-position: center center;
    }

        @keyframes slide {
            0% {background: url(img/photos-TS/tabor01_small.jpg);}
            11% {background: url(img/photos-TS/tabor02_small.jpg);}
            22% {background: url(img/photos-TS/tabor03_small.jpg);}
            33% {background: url(img/photos-TS/tabor04_small.jpg);}
            44% {background: url(img/photos-TS/tabor05_small.jpg);}
            55% {background: url(img/photos-TS/tabor08_small.jpg);}
            66% {background: url(img/photos-TS/tabor07_small.jpg);}
            77% {background: url(img/photos-TS/tabor15_small.jpg);}
            89% {background: url(img/photos-TS/tabor19_small.jpg);}
            100% {background: url(img/photos-TS/tabor01_small.jpg);}
        }





/* Tenisové soustředění */

    .soustredeni1a2 {
        display: grid;
        grid-template-columns:45% 55%;
        height: 500px;
        background-color: rgba(248, 187, 31, 0.763);
        box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.703);
        overflow: hidden;
    }

    .soustredeni1 {
        
        padding: 30px;
        padding-top: 50px;
        position: relative;
    }

    .soustredeni1 > p {
        line-height: 25px;
    }

    .soustredeni1 > button {
        width: 140px;
        top: 350px;
        right: 30px;
        padding: 8px 10px;
        border-radius: 15px;
        cursor: pointer;
        position: absolute;
        box-shadow: 2px 2px 15px black;
        background-color: #aeadad;
        color: black;
    }

    .soustredeni2 img {
        height: 100%;
        width: 100%;
        object-fit:cover;

    }

    .soustredeni3 {
        display: none;
        background-color: rgba(248, 187, 31, 0.763);
        padding: 30px;
        box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.703);
       
    }

    .soustredeni3 p {
        line-height: 25px;
    }



/* BOX MODEL (Tenisový obchod a tenisové turnaje) */

    #obchod {
        margin-top: 100px;
    }

    .box {
        display: grid;
        grid-template-columns: 50% 50%;
        height: 600px;
        background-color: white;
        box-shadow: 0px 10px 25px 5px rgba(0, 0, 0, 0.703);
        margin-bottom: 100px;
    }

    .box1 {
        overflow: hidden;
        height: 600px;
    }

    .box1 img {
        height: 100%;
        width: 100%;
        object-fit:cover;
    }

    .slider-obchod {
        width: 100%;
        animation: shop 15s infinite;
        background: url(img/photos-shop/shop1_small.jpg);
        }

        @keyframes shop {
            5% {background: url(img/photos-shop/shop1_small.jpg);}
            35% {background: url(img/photos-shop/shop2_small.jpg);}
            70% {background: url(img/photos-shop/shop3_small.jpg);}
            100% {background: url(img/photos-shop/shop1_small.jpg);}
        }

    .slider-ovopen {
        width: 100%;
        animation: ovopen 30s infinite;
        background: url(img/photos-ovopen/ovopen2_small.jpg);
        }

        @keyframes ovopen {
            0% {background: url(img/photos-ovopen/ovopen2_small.jpg);}
            12% {background: url(img/photos-ovopen/ovopen3_small.jpg);}
            25% {background: url(img/photos-ovopen/ovopen4_small.jpg);}
            37% {background: url(img/photos-ovopen/ovopen5_small.jpg);}
            50% {background: url(img/photos-ovopen/ovopen6_small.jpg);}
            62% {background: url(img/photos-ovopen/ovopen7_small.jpg);}
            75% {background: url(img/photos-ovopen/ovopen8_small.jpg);}
            87% {background: url(img/photos-ovopen/ovopen9_small.jpg);}
            100% {background: url(img/photos-ovopen/ovopen2_small.jpg);}
        }

    .box2 {
        padding: 40px;
    }

    .box2 h3 {
        padding-top: 10px;
    }

    .box2 > p {
        font-size: 17px;
        width: 90%;
    }

    .box2 li  {
        font-size: 17px;
        margin-top: 16px;
    }

    .box2 > li > img {
        height: 25px;
    }

    .box2 {
        position: relative;
    }

    /* tlačítka otevíračka + kontakt telefon */
        .btn-open, .btn-phone {
            margin-top: 100px;
            border-right: 1px solid black;
            border-left: 1px solid rgb(113, 113, 113);
            border-top: 1px solid rgb(117, 117, 117);
            border-bottom: 1px solid black;
            border-radius: 15px;
            cursor: pointer;
            box-shadow: 2px 2px 15px black;
            background-color: #aeadad;
            display: flex;
            position: absolute;
            height: 35px;
            padding: 5px;
            transition: width 0.1s ease-out;
            overflow:hidden;
            width: 35px;
        }

        .btn-open p {
            padding-left: 30px;
            font-size: 14px;
            margin: 0;
        }


        .active {
            width: 300px; 
        }

        .btn-phone {
            right: 40px;
            justify-content: right;
        }

        .btn-phone p {
            margin: 7px;
            padding-right: 10px;
            font-size: 15px;
        }

        .btn-phone.active {
            right: 40px;
            align-items: right;
        }




/* Turnaje pro amatéry - OVopen */

    #turnaje .box {
        background-color:#171717;
        color: #d7d7d7;
    }

    #turnaje .box2  a {
        color:#d7d7d7;
    }

    .ovopen {
    position: relative;
    }

    .ovopen img {
        width: 100px;
        right: -20px;
        top: -50px;
        position: absolute;
        cursor: pointer;
    }

    #turnaje .btn-phone {
        margin-top: 50px;
        right: 50%;
        transform: translatex(50%);
        cursor: default;
        justify-content: left;
    }

    #turnaje .btn-phone img {
        order: -1;
    }

    #turnaje .btn-phone a {
        font-size: 14px;
        margin: 7px 10px 0 7px;
        color: black;
    }
        






/* KONTAKT */

    .kontakt-backgr {
        background-color: white;;
    }

    #kontakt h1 {
        margin-bottom: 0;
    }

    #kontakt h2 {
        padding-top: 0px;
        margin-top: 10px;
    }

   .contact-box {
        max-width: 100%;
        display: grid;
        grid-template-columns: 40% 60%;
        color: black;
        padding-top: 20px;
        padding-bottom: 10px;
    }

    .div1 {
        padding: 15px 40px 15px 40px;
    }

    .div1 p {
        font-size: 13px;
    }

    .address {
        height: 80px;
    }

    .address img {
        width: 40px;
        height: 40px;
    }

    .address p {
        margin-left: 35px;
        margin-top: 0;
    }

   .ts {
    font-size: 17px;
   }

    .contact-form {
        margin-bottom: 7px;
    }

    .contact-form img {
        width: 23px;
        height: 23px;
        float: left;
    }

    .contact-form a {
        margin: 0 0 0 10px;
        font-size: 13px;
        color: black;
        text-decoration: none;
    }

    .contact-form a:hover {
        text-decoration:  underline;
        cursor: pointer; 
    } 

    .kontakt-leto {
        background: linear-gradient(rgb(248, 186, 31),rgb(255, 241, 207));
        padding: 10px;
        border: 1px solid rgb(192, 192, 192);
        margin-top: 30px;
        animation: spravce .8s infinite;
    }

        @keyframes spravce {
            0% {background: rgb(255, 241, 207);}
            50% {background: rgb(255, 206, 91);}
            100% {background: rgb(255, 241, 207);}
        } 

    .kontakt-zima {
        background-color: rgb(224, 234, 255);
        padding: 10px;
        border: 1px solid rgb(192, 192, 192);
        margin-top: 30px;
    }

    .kontakt-ts {
        background-color: #ececec;
        padding: 10px;
        border: 1px solid rgb(192, 192, 192);
        margin-top: 30px;
        margin-bottom: 50px;
    }

    .div2 {
        overflow: hidden;
        height: 627px;
    }

    .map {
        height: 100%;
    }









/****** FOOTER ******/
    .backgr-footer {
        background-color: #4b4b4b9f;
        border-top: 1px solid  rgb(248, 186, 31);
        border-bottom: 0;
        }

    .copyright a {
        color: black;
    }
    .backgr-footer .container {
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer-all {
        padding: 3px 0;
        display: flex;
        color: black;
        align-items:center;
        justify-content: space-between;
        font-size: 11px;
    }
    
    .quick-links {
        display: flex;
        flex-direction: row;
        gap: 8px;
        align-items: center;
        
    }

    .quick-links a {
        color: black;
        font-size: 13px;
        font-weight:200;
        cursor: pointer;
    }

    footer {
        position: relative;
        bottom: 0;
    }





    /* ORGANIZAČNÍ ŘÁD TENISOVÉ ŠKOLY - NOVÉ HTML */
    .organizacni-rad-TS {
        margin: 0 auto;
        max-width: 900px;
        padding: 0 2% 10% 2%;
    }
   

    .organizacni-rad-TS h1{
        padding-top: 100px;
        padding-bottom: 50px;
        margin-top: 0;
    }
    .organizacni-rad-TS p {
        font-size: 14px;
        line-height: 25px;
    }

    .btn-zpet {
            background-color: rgb(248, 186, 31);
            padding:10px 30px;
            border-radius: 30px;
            font-size: 10px;
            cursor: pointer;
            transition: scale 0.2 ease;
            border-top: 1px solid grey;
            border-left: 1px solid grey;
            border-right: 1px solid rgb(42, 42, 42);
            border-bottom: 1px solid rgb(42, 42, 42);
            position: fixed;
            margin-top: 100px;
        }
        
        .btn-zpet:hover {
            scale: 1.05;
        }

        .btn-zpet a {
            text-decoration: none;
            color: rgb(43, 43, 43);
        }
 
        .rad-kontakt h4  {
            margin: 0;
        }
